# node & npm
node_modules
package-lock.json
yarn.lock

# parcel dev cache & dist
/.cache
/dist

# parcel build dist
/app/dist
!/app/dist/.gitkeep

# electron-packager output
/out

# test & coverage report
/.coverage
